
   .wraper{
   	width: 1024px;
   	margin-right: auto;
   	margin-left: auto;
   }

   .baner{
   	width: 1024px;
   	height: 50px;
   	background-color: #052789;
   }

   .menutop{
   	width: 805px;
   	height: 35px;
   	margin-left: 220px;
   	background-color: #84edfd;
   }
   	.menutop2{
   	width: 1024px;
   	height: 35px;
   	margin: 0px;
   	background-color: #84edfd;
   }

   .left{
   	width: 220px;
   	height: 535px;
   	background-color: orange;
   	float: left;
   	text-align: center;
   	float: left;

   }

   .content{
   	width: 805px;   	
   	margin-left: 220px;
   }

   .content2{
   	margin-left: 0px;
   	width: 1024px;
   	text-align: center;
   }

   .footer{
   	height: 75px;
   	float: left;
   }

   .meniu{
   	list-style-type: none;
   	text-align: center;
   	padding: 0px;
   	margin: 0px;
   	text-decoration: none;
   }

   .bara1{
 		text-decoration: none;
 		font-size: 18px;
 		color: black;
 		display: block;
 		text-shadow: 1px 1px white;
 	}

   .bara1:hover{
 		color: #0537c6;
 		background-color: #f37d15;
 		border-right: 5px solid;
 		border-top-right-radius: 5em;
 		border-bottom-right-radius: 5em;
		width: 223px;
		display: block;

	}


	.model{
		list-style-type: none;
   		margin: 0px;
   		padding: 0px;


	}
	.bara2{
		float: left;
		text-decoration: none;
		color: #0537c6;
		width: 120px;
		height: 28px;
		padding-top: 5px;
		text-align: center;
		margin-left: 30px;
		text-shadow: 1px 1px white;
	}

	.bara2:hover{
		text-decoration: underline;
	}

	
	.mare{
		font-size: 30px;
		text-shadow: 1px 1px white;
		font-family: fantasy;
	}


	.logo{
		color: white;
		height: 50px;
		width: 220px;
		float: left;
	}

	.top{
   		width: 1000px;
   		height: 35px;
   		padding: 5px;
   		font-size: 16px;
   		text-align: center;
	}


	.bara4{
		float: left;
		text-decoration: none;
		color: white;
		padding-top: 10px;
		margin-left: 50px;
	}

	.cub3{
		background-color: orange;
		display: block;
		font-family: fantasy;
		color: black;
		box-shadow: 5px 5px 10px #000000;
		padding:0;
		margin: 10px;
		width: 100px;
		float: right;
	}

	.cub3:hover{
		background-color: yellow;
		}

	.cub4{
		box-shadow: 5px 5px 10px #000000;
		text-align: center;
		}

		.poza-centrala{
			margin-left: auto;
			margin-right: auto;
		}

	.descriere{
		text-align: center;
		font-size: 20px;
		text-shadow: 2px 2px yellow;
	}

	.video{
		box-shadow: 5px 5px 10px #000000;
		margin-left: 210px;
	}

	.foot1{
		float: left;
		border-right: dashed;
		border-width: 2px;
		padding:0px;
		font-size: 16px;
		width: 240px;
		height: 40px;
		margin-top: 20px;
		margin-left: 12px;
	}
	
	.foot2{
		font-size: 18px;
		font-weight: bold;

	}




 	ul li ul li {
 		display: none;

 	}
 	ul li:hover ul li{
 		display: block;
 		background-color: #f28b12;
 	}

